<!-- Custom HTML site displayed as the Home chapter -->

{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<style>

    .md-main {
        flex-grow: 0
    }

    .md-main__inner {
        display: flex;
        height: 100%;
    }

    .tx-container {
        padding-top: .0rem;
        background: linear-gradient(to bottom, var(--md-primary-fg-color), hsla(160deg,47%,55%,1) 99%,#fff 99%)
    }

    .tx-hero {
        margin: 32px 2.8rem;
        color: var(--md-primary-bg-color);
    }

    .tx-hero h1 {
        margin-bottom: 1rem;
        color: currentColor;
        font-weight: 700
    }

    .tx-hero__content {
        padding-bottom: 1rem;
        margin: 0 auto;
    }

    .tx-hero__image{
        width:17rem;
        height:17rem;
        order:1;
        padding-right: 2.5rem;
    }

    .tx-hero .md-button {
        margin-top: .5rem;
        margin-right: .5rem;
        color: var(--md-primary-bg-color)
    }

    .tx-hero .md-button--primary {
        background-color: var(--md-primary-bg-color);
        color: hsla(280deg, 37%, 48%, 1);
        border-color: var(--md-primary-bg-color)
    }

    .tx-hero .md-button:focus,
    .tx-hero .md-button:hover {
        background-color: var(--md-accent-fg-color);
        color: var(--md-default-bg-color);
        border-color: var(--md-accent-fg-color)
    }

    .feature-item {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        box-sizing: border-box;
        padding: 0 15px;
        word-break: break-word;
        width: 100%; /* Vollständige Breite */
        max-width: 600px; /* Maximalbreite für jedes Element */
        margin: 0 auto; /* Zentriere die Elemente auf der Seite */
    }

    .tx-hero {
        display: flex;
        align-items: center;
    }

    .tx-hero__image img {
        width: 300px; /* Ändere dies auf die gewünschte Breite der Bilder */
        height: auto; /* Skaliere das Bild proportional */
    }

    .tx-hero--left .tx-hero__image {
        margin-right: 20px; /* Ändere dies, um den Abstand zwischen Bild und Text zu steuern */
    }

    .tx-hero__content {
        flex: 1;
    }

    @media screen and (min-width: 76.25em) {
        .feature-item {
            flex: 1;
            min-width: 0;
            margin-right: 15px; /* Ändere dies, um den Abstand zwischen den Elementen zu steuern */
        }
    }

    .top-hr {
        margin-top: 42px;
    }

    .feature-item h2 svg {
        height: 30px;
        float: left;
        margin-right: 10px;
        transform: translateY(10%);
    }

    .top-hr {
        margin-top: 42px;
    }

    .feature-item h2 {
        color: #333;
        font-weight: 300;
        font-size: 25px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: inherit;
    }

    .feature-item p {
        font-size: 16px;
        line-height: 1.8em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        color: #111;
        margin: 0 0 10px;
        display: block;
    }

    .hr {
        border-bottom: 1px solid #eee;
        width: 100%;
        margin: 20px 0;
    }

    .text-center {
        text-align: center;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
        font-family: 'Lato', sans-serif;
        font-size: 23px;
        font-weight: 300;
        padding-bottom: 10px;
    }

    .logos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        margin: 0 auto;
    }

    .logos img {
        flex: 1 1 auto;
        padding: 25px;
        max-height: 130px;
        vertical-align: middle;
    }

    .hr-logos {
        margin-top: 0;
</style>

<!-- Main site Entry button descriptions -->
<section class="tx-container">
    <div class="md-grid md-typeset">
      <div class="tx-hero">
        <div class="tx-hero__image">
          <img src="assets/img/bike_sim.png" draggable="false">
        </div>
        <div class="tx-hero__content">
          <h1> Simulation technischer Systeme </h1>
          <p>Maschinenbau Bachelor</p>
          <a href="Angewandte%20FEM%20(Strukturmechanik)" title="Angewandte FEM in der Strukturmechanik" class="md-button md-button--primary">
            Angewandte FEM in der Strukturmechanik
          </a>
          <p>Maschinenbau Master</p>
          <a href="Nichtlineare Strukturmechanik" title="Nichtlineare Strukturmechanik" class="md-button md-button--primary">
            Nichtlineare Strukturmechanik
          </a>
          <h1> Simulation energetischer Systeme </h1>
          <p>Energietechnik Bachelor</p>
          <a href="Angewandte%20FEM%20(Thermodynamik)" title="Angewandte FEM in der Thermodynamik" class="md-button md-button--primary">
            Angewandte FEM in der Thermodynamik
          </a>
        </div>
      </div>
    </div>
</section>

<!-- Main site box descriptions -->
<div class="top-hr">
    <!-- Person 1 -->
    <div class="feature-item">
        <div class="tx-hero tx-hero--left">
            <div class="tx-hero__image">
                <img src="assets/img/Stephan.png" alt="Prof. Stephan Schönfelder" width="300" draggable="false">
            </div>
            <div class="tx-hero__content">
                <h2>Stephan Schönfelder</h2>
                <p>Professort</p>
            </div>
        </div>
    </div>

    <!-- Person 2 -->
    <div class="feature-item">
        <div class="tx-hero tx-hero--left">
            <div class="tx-hero__image">
                <img src="assets/img/Felix.png" alt="M.Eng. Felix Kaule" width="300" draggable="false">
            </div>
            <div class="tx-hero__content">
                <h2>M.Eng. Felix Kaule</h2>
                <p>Laboringenieur</p>
            </div>
        </div>
    </div>
</div>

<div class="top-hr">
    <div class="hr"></div>
</div>




{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
